html {
    width: 60%;
}
h2 {
    margin: auto;
    text-align: center;
}
table, th, td {
    border: 1px dotted;
}

th {
    text-align: right;
    font-weight: normal;
}

button[value="add"] {
    text-transform: uppercase;
}
